
.jumbo-container {
    background-image: url("../img/jumbo_sostenibilita.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-light-grey);
    text-transform: uppercase;
}

.card-img {
    max-height: 200px;
    object-fit: contain;
}

