* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.acc-text-green {
    color: var(--text-green);
}

.acc-big-title {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
}

.acc-highlight {
    font-size: 2.5rem;
    font-weight: bold;
}

.acc-small-highlight {
    font-size: 2rem;
    font-weight: bold;
}

.acc-card {
    border-radius: 14px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
    padding: 2rem;
    border: 2px solid var(--border-green-card);
    background-color: var(--bg-card);
}

.card-moving {
    transition: transform 0.3s ease;
}

.card-moving:hover {
    transform: translateY(-10px);
}

.acc-section {
    background-color: var(--bg-light-green);
    text-align: center;
}

.acc-section h2 {
    background: linear-gradient(to right, #ff4500, #ffa500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.acc-section p {
    font-size: 1.07rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.acc-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: var(--bg-btn-green);
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.acc-button:hover {
    background-color: #0a6d35;
}


/* --- s.navbar --- */
.navbar {
    position: fixed;
    top: 0; left: 0; width: 100%;
    z-index: 10000;
    height: var(--navbar-height);
    background: var(--bg-navbar);
    backdrop-filter: var(--navbar-blur);
    -webkit-backdrop-filter: var(--navbar-blur);
    color: var(--text-green);
}

.navbar-nav {
    gap: 20px;
}

.navbar-brand img {
    height: var(--navbar-height);
    padding: 10px;
}

.nav-link {
    color: var(--text-green) !important;
    font-weight: bold;
}

.nav-link.active {
    background: var(--gradient-orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 991.98px) {
    .navbar {
        height: var(--navbar-mobile-height);
    }

    .navbar:has(.navbar-collapse.show) {
        background: transparent;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        border-bottom-color: transparent;
    }

    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;

        padding-top: 70px;
        overflow: hidden;
        z-index: 9998;

        background: var(--bg-navbar);
        backdrop-filter: var(--navbar-blur);
        -webkit-backdrop-filter: var(--navbar-blur);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;

        opacity: 0;
        transform: translateY(-10%);
        transition: all 0.4s ease;
        pointer-events: none;
    }

    .navbar-collapse.show {
        opacity: 1;
        transform: translateY(-80px);
        pointer-events: auto;
        height: calc(100vh + 80px);
    }

    .navbar-nav {
        width: 100%;
        gap: 0;
    }

    .navbar-nav .nav-link {
        width: 100%;
        text-align: center;
        padding: 2rem 0;
        border-bottom: 1px solid var(--text-green);
        color: var(--text-green) !important;
        font-weight: bold;
        transition: background 0.3s;
        font-size: 1.5rem;
        letter-spacing: 5px;
    }

    .navbar-nav .nav-link:hover {
        background-color: var(--bg-gray-transparent);
    }

    .navbar-toggler {
        position: relative;
        z-index: 9999;
        border: none;
    }

    .navbar-toggler:focus {
        outline: none;
        box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) var(--text-green);
    }
}

/* --- e.navbar --- */
